* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 24px;
}

header {
    background-color: #ccc;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

#left {
    background-color: #666;
    color: white;
    width: 33%;
    float: left;
}

#middle {
    background-color: #888;
    color: white;
    width: 33%;
    float: left;
}
#right {
    background-color: #666;
    color: white;
    width: 33%;
    float: left;
}

#full {
    background-color: #eee;
    clear: both;
    overflow: auto;
}

#division {
    background-color: #6ea3da;
    padding: 20px;
    margin-top: 20px;
}

aside {
    background-color: #fff;
    width: 33%;
    height: 200px;
    border: 1px solid #eee;
    padding: 20px;
    float: left;
}

footer {
    clear: both;
    padding: 20px;
    background-color: #ccc;
    overflow: auto;
}
