<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->
<p><strong>Animal Type: </strong>{{animalType}}</p>
<p><strong>Pet: </strong>{{pet}}</p>
<p><strong>Fierceness: </strong>{{fierceness}}</p>