


<h1>Lunches for {{eater}}</h1>

<ul>
{{#each icecreams }}
  <p><strong>Animal Type: </strong>{{dog.animalType}}</p>
  <p><strong>Pet: </strong>{{dog.pet}}</p>
  <p><strong>Fierceness: </strong>{{dog.fierceness}}</p>
{{/each}}
</ul>