#fixed {
    background-color:#eee;
    height: 70px;
    width: 150px;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
}

#document{
    margin: 0 auto;
    padding: 50px 100px;
}